[submodule ".engrams/affinity-extractor"]
	path = .engrams/affinity-extractor
	url = https://github.com/Alb-O/eg.affinity-extractor.git
[submodule ".engrams/example-module"]
	path = .engrams/example-module
	url = https://github.com/Alb-O/eg.example-module.git
[submodule ".engrams/doc-style"]
	path = .engrams/doc-style
	url = https://github.com/Alb-O/eg.doc-style.git
